body{
    background-color: black;
}

p{
    color: white;
}

h2{
    color: white;
}

li{
    color: white;
}

div:first-of-type{
    display: flex;
    justify-content: center;
}

div:first-of-type img{
    display: block;
}

#cocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-wrap: wrap;
    left: 350px;
    margin-bottom: 20px;
}

#cocktail img {
    width: 700px;
    height: auto;
}


button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}