@use "../../scss/globalVariables" as G;

body{
    margin: 0;
    padding: 0;
}
#william{    
    .gengar{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        h1{
            color: G.$gengar-white;
            padding: 1rem;
        }
    }
    .gengarHolder{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 800px;
        margin: auto;
    }
}
